version: "3.8"

services:
  # --- Servicio de Autenticación ---
  ms-auth:
    build: ./ms-auth
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - JWT_SECRET=ESTE_ES_UN_SECRETO_PARA_DESARROLLO_NO_USAR_EN_PROD
      - JWT_EXPIRES_IN=1h

  # --- Servicio de Usuarios ---
  ms-usuarios:
    build: ./ms-usuarios
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - DB_HOST=db-usuarios
      - DB_PORT=5432
      - DB_USER=user_usuarios
      - DB_PASSWORD=password_usuarios
      - DB_NAME=db_usuarios
      - RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672
    depends_on:
      - db-usuarios
      - rabbitmq

  # --- Servicio de Agenda ---
  ms-agenda:
    build: ./ms-agenda
    ports:
      - "3002:3002"
    environment:
      - PORT=3002
      - DB_HOST=db-agenda
      - DB_PORT=5432
      - DB_USER=user_agenda
      - DB_PASSWORD=password_agenda
      - DB_NAME=db_agenda
      - RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672
    depends_on:
      - db-agenda
      - rabbitmq

  # --- Servicio de Message Broker ---
  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=rabbit
      - RABBITMQ_DEFAULT_PASS=rabbit
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/

  # --- Servicio de Notificaciones ---
  ms-notificaciones:
    build: ./ms-notificaciones
    ports:
      - "3003:3003"
    environment:
      - PORT=3003
      - RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672
    depends_on:
      - rabbitmq

  # --- Servicio de Tutorías (El Orquestador) ---
  ms-tutorias:
    build: ./ms-tutorias
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MS_USUARIOS_URL=http://ms-usuarios:3001/usuarios
      - MS_AGENDA_URL=http://ms-agenda:3002/agenda
      - MS_NOTIFICACIONES_URL=http://ms-notificaciones:3003/notificaciones
      - JWT_SECRET=ESTE_ES_UN_SECRETO_PARA_DESARROLLO_NO_USAR_EN_PROD
      - DB_HOST=db-tutorias
      - DB_PORT=5432
      - DB_USER=user_tutorias
      - DB_PASSWORD=password_tutorias
      - DB_NAME=db_tutorias
      - RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672
    depends_on:
      - ms-auth
      - ms-usuarios
      - ms-agenda
      - ms-notificaciones
      - db-tutorias
      - rabbitmq

  # --- Cliente Web Interactivo ---
  client-sim:
    build: ./client-mobile-sim
    container_name: client_sim_web
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - API_BASE_URL=http://ms-tutorias:3000
      - AUTH_SERVICE_URL=http://ms-auth:4000/auth
    depends_on:
      - ms-auth
      - ms-tutorias

  # --- Dashboard de Trazabilidad ---
  tracking-dashboard:
    build: ./tracking-dashboard
    container_name: tracking_dashboard
    ports:
      - "9000:9000"
    environment:
      - PORT=9000
      - RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq:5672
    depends_on:
      - rabbitmq

  # --- Bases de Datos ---
  db-usuarios:
    image: postgres:14-alpine
    container_name: db_usuarios_postgres
    environment:
      POSTGRES_USER: user_usuarios
      POSTGRES_PASSWORD: password_usuarios
      POSTGRES_DB: db_usuarios
    ports:
      - "5435:5432" # <--- ¡ESTE ES EL CAMBIO IMPORTANTE! (Puerto externo 5435)
    volumes:
      - postgres_data_usuarios:/var/lib/postgresql/data

  db-agenda:
    image: postgres:14-alpine
    container_name: db_agenda_postgres
    environment:
      POSTGRES_USER: user_agenda
      POSTGRES_PASSWORD: password_agenda
      POSTGRES_DB: db_agenda
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_agenda:/var/lib/postgresql/data

  db-tutorias:
    image: postgres:14-alpine
    container_name: db_tutorias_postgres
    environment:
      POSTGRES_USER: user_tutorias
      POSTGRES_PASSWORD: password_tutorias
      POSTGRES_DB: db_tutorias
    ports:
      - "5434:5432"
    volumes:
      - postgres_data_tutorias:/var/lib/postgresql/data

  # --- MONITOREO ---
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3100:3000" # Grafana en puerto 3100
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

volumes:
  postgres_data_usuarios:
  postgres_data_agenda:
  postgres_data_tutorias:
  rabbitmq_data: